@import "../../unversal.scss";
.site-navbar {
  @include df(space-between);
  height: 50px;
  gap: 3rem;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 2rem;
  .site-navbar_logo + .site-navbar_menu {
    flex: 1;
  }

  .site-navbar_logo {
    h2 {
      font-weight: 550;
      margin-top: 10px;
    }
  }

  .site-navbar_menu {
    a {
      text-decoration: none;
      margin-left: 0.8rem;
      font-size: 0.9rem;
      outline: none;
      color: #bac8dc;
      font-weight: 500;
      user-select: none;
      &:hover {
        color: #6b9de0;
      }
    }

    .menu__link {
      margin: 0 15px;
      color: #bac8dc;
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        width: 10%;
        height: 2px;
        top: 0;
        left: -7px;
        margin-top: 14px;
        transition: 0.2s;
      }

      &:hover,
      &:focus {
        color: #6b9de0;
      }
    }

    .active_link,
    .active_link:hover,
    .active_link:focus {
      color: #4447e2;

      &::before {
        width: 120%;
        top: 97%;
        background-color: #4447e2;
        animation: linear anim 0.3s;
      }
    }
  }
  .icons {
    div {
      margin-right: 10px;
    }
    svg {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

@keyframes anim {
  0% {
    width: 100%;
  }
  100% {
    width: 120%;
  }
}
