* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

@mixin df($j) {
  display: flex;
  justify-content: $j;
  align-items: center;
}

.container {
  width: 96%;
  margin: auto;
  margin-top: 10px;
}
