* {
  box-sizing: border-box;
}

:root {
  --main-border-color: #bac8dc;
  --main-button-background: #4447e2;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px !important;
}
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px rgb(160, 160, 160);
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
}

body {
  font-family: "Open Sans", sans-serif;
}

@mixin df($j) {
  display: flex;
  justify-content: $j;
  align-items: center;
}

.container {
  width: 96%;
  margin: auto;
  margin-top: 10px;
}

/* ------------------------------- Modal_style ------------------------------ */
.ant-modal-mask {
  backdrop-filter: blur(4px);
}
