* {
  box-sizing: border-box;
}

:root {
  --main-border-color: #bac8dc;
}

body {
  font-family: "Open Sans", sans-serif;
}

@mixin df($j) {
  display: flex;
  justify-content: $j;
  align-items: center;
}

.container {
  width: 96%;
  margin: auto;
  margin-top: 10px;
}

/* ------------------------------- Modal_style ------------------------------ */
.ant-modal-mask {
  backdrop-filter: blur(4px);
}
